.center-form {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-center {
  display: block;
  height: 100%;
  width: 100%;
}
.success {
  font-size: 3rem;
  color: rgb(89, 255, 89);
  font-weight: bold;
}

.danger {
  font-size: 3rem;
  color: rgb(255, 83, 83);
  font-weight: bold;
}

.bdy {
  width: 100vw;
  height: 100vh;
}
.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.todo_style .fa-items {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #62ad62;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.todo_style .f-times:hover {
  background-color: crimson;
}
.todo_style .fa-times:hover .list_style {
  color: crimson;
}
li {
  text-decoration: none;
  font-size: 1.5rem;
}
input {
  width: 40% !important;
  margin-left: 2vw;
}
.btn-outline-success {
  margin-top: -9vh !important;
}
