.center-form {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-center {
  display: block;
  height: 100%;
  width: 100%;
}
.success {
  font-size: 1rem;
  color: rgb(89, 255, 89);
  font-weight: bold;
}

.danger {
  font-size: 5rem;
  color: rgb(255, 83, 83);
  font-weight: bold;
}
